@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 75%;
}

.text-shadow {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
